body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}
#theBody {  /* J'ai regroupé les éléments de la classe "article" dans un conteneur pour fixer leur largeur, leur margin et permettre au dernier élément, identifié par l'ID "basdepage" d'occuper toute la largeur de la page, car le margin ne fonctionnait pas comme prévu. */
    width: 90%;
    margin-left: 5%;
}

.article {
    background-color: #577590;
    border-top: 5px solid #43aa8b;
    border-bottom: 5px solid #43aa8b;
    margin-top: 20px;
    font-size: 12px;
    padding: 0 15px 12px;
    position: relative;
}

.entete {
    text-align: center;
}

.eTitle {
    margin: 7px;
}

#photo {
    width: 10%;
    float: right; 
    margin-right: 8px;
    margin-top: 8px; 
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    max-width: 100px;
    min-width: 100px;

}

.title {
    background-color: #43aa8b;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
}
.annee {
    display: inline-block;
    width: 80px;
}
.puceStyle {
    list-style-image: url(puce.png);
}

.langue {
    text-decoration: underline rgb(152, 137, 117);
    text-decoration-thickness: 2px;    
}

#basdepage {
    margin-top: 20px;
    background-color: #adb5bd;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

